*,
*::before,
*::after {
  box-sizing: border-box;
}
[data-dgaccordion] .accordion_trigger {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[data-dgaccordion] .accordion_trigger .accordion_icon path {
    transition: d 0.3s ease;
}

[data-dgaccordion] .accordion_trigger[aria-expanded="true"] .accordion_icon path {
    d: path("M3,7 L7,3 L11,7");
}
[data-dgaccordion] .accordion_panel {
    display: grid; 
    grid-template-rows: 0fr;
    transition: 0.3s grid-template-rows;
}

[data-dgaccordion] .accordion_panel[aria-hidden="false"] {
    grid-template-rows: 1fr;
}
[data-dgaccordion] .accordion_panel > :first-child {
    padding-inline: 1rem;
    overflow: hidden;
}